<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gear.asrm">

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Note:  the singleInstance below is important to keep two copies of your activity from getting launched on automatic startup -->


        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

            </intent-filter>
        </activity>

        <!-- Start Activity -->
        <activity android:name=".activity.StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New Round Activity -->
        <activity android:name=".activity.NewRoundActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="newRoundPart" />
            </intent-filter>
        </activity>

        <!-- Running Activity -->
        <activity android:name=".activity.RunningActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="newRoundPart" />
            </intent-filter>
        </activity>

        <!-- Result Activity -->
        <activity android:name=".activity.ResultActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="newRoundPart" />
            </intent-filter>
        </activity>

        <!-- All Beacon Activity -->
        <activity android:name=".activity.allBeaconActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="newRoundPart" />
            </intent-filter>
        </activity>

        <!-- History Activity -->
        <activity android:name=".activity.historyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="historyPart" />
            </intent-filter>
        </activity>
        <!-- History Result Activity -->
        <activity android:name=".activity.HistoryResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="historyPart" />
            </intent-filter>
        </activity>
    </application>

</manifest>